/* Add smooth scrolling behavior */
html {
  scroll-behavior: smooth;
}

/* Custom styles for the Dialogflow Messenger to position it better */
df-messenger {
  --df-messenger-bot-message: #F3F4F6; /* Light gray for bot message */
  --df-messenger-button-title-color: #ffffff;
  --df-messenger-chat-background-color: #ffffff;
  --df-messenger-font-color: #374151;
  --df-messenger-send-icon: #3B82F6; /* Blue send icon */
  --df-messenger-user-message: #DBEAFE; /* Light blue for user message */
}

html.dark df-messenger {
  --df-messenger-bot-message: #374151; /* Darker gray for bot message */
  --df-messenger-chat-background-color: #1F2937; /* Dark background */
  --df-messenger-font-color: #F9FAFB;
  --df-messenger-input-box-color: #374151;
  --df-messenger-user-message: #1E40AF; /* Darker blue */
}