df-messenger {
            --df-messenger-bot-message: #2563eb;
            --df-messenger-button-titlebar-color: #4f46e5;
            --df-messenger-chat-background-color: #f8fafc;
            --df-messenger-font-color: #1e293b;
            --df-messenger-send-icon: #06b6d4;
            --df-messenger-user-message: #10b981;
        }